var PortfolioBox = React.createClass({

    componentDidMount: function() {
        jQuery(window).trigger('resize').trigger('scroll');
        var waypoint = new Waypoint({
            element: document.getElementById('sticker'),
            handler: function(direction) {

                if(direction==="down") {
                    $("#sticker").css({"position": "fixed", "top": "0", "height": "85px"});
                    $(".foot_nav").css({"margin-top": "2.2%"});
                }
                else{
                    $("#sticker").css({"position": "inherit", "top": "", "height": ""});
                    $(".foot_nav").css({"margin-top": ""});
                }
            }
        });

    },

    getInitialState: function() {
        return {
            portfolioVisible: false
        };
    },
    loadMore: function(e){
            e.preventDefault();
        $('html, body').animate({
            scrollTop: 3050
        }, 1000);
        this.setState({
            portfolioVisible: true
        });

        },

    render: function(){

        var isSelected = this.state.portfolioVisible;
        var style = {
            'display': ''
        };
        if (!isSelected) {
            style = {
                'display': 'none'
            };
        }


        var style2 = {
            'display': ''
        };
        if (isSelected) {
            style2 = {
                'display': 'none'
            };
        }


         return(

            <div className="row portfolio_box">
                <div className="col-md-12 images_box">

                      <Image />



                </div>

                <div className="text-center view_portfolio col-md-12"  id="sticker">
                    <div  className="text wow zoomInDown" style={style2} data-wow-delay="0.1s">
                        <a id="big" href="#"  data-hover="+" onClick={this.loadMore}>+</a>
                    </div>

                    <div className="foot_nav text-center" style={style}>
                        <ul className="nav_filters">
                            <li><a href="#"  data-hover="Wild Life">Wild Life</a></li>
                            <li><a href="#"  data-hover="Kenya">Kenya</a></li>
                            <li><a href="#"  data-hover="Kuwait">Kuwait</a></li>
                            <li><a href="#"  data-hover="Travel">Travel</a></li>
                            <li><a href="#"  data-hover="Random">Random</a></li>
                        </ul>
                    </div>


                </div>




                <div id="sex" className="col-md-12 full_portfolio" style={style}>

                    <div className="indi_pic col-md-12">
                        <img src="<%= asset_path('l5.jpg')%>" />
                    </div>
                    <div className="indi_pic col-md-12">
                        <img src="<%= asset_path('l3.jpg')%>" />
                    </div>
                    <div className="indi_pic col-md-12">
                        <img src="<%= asset_path('l2.jpg')%>" />
                    </div>
                    <div className="indi_pic col-md-12">
                        <img src="<%= asset_path('l1.jpg')%>" />
                    </div>
                    <div className="indi_pic col-md-12">
                        <img src="<%= asset_path('l6.jpg')%>" />
                    </div>



                </div>

            </div>


        );
    }


});
